<div class="ContentFull Padding" id="Top">
	<h2>
		About WeKan
	</h2>
	<p>
		Experience efficient task management with WeKan - the Open-Source, customizable,
		and privacy-focused kanban.
	</p>
	<h3>
		Author
	</h3>
	<p>
		Current WeKan maintainer is xet7 (Lauri Ojansivu) since December 2016.
		WeKan was originally created by mquandalle (Maxime Quandalle).
	</p>
</div>
<div class="BorderTop Padding TextCenter" id="Bottom">
	<button type="button" class="IconSmall fa-remove" onclick="CloseView()">
		Close
	</button>
</div>
<style> #Top { height: calc(100% - 50px); overflow: auto; } #Bottom { height: 50px; position: absolute; left: 0; bottom: 0; width: 100%; } </style>